.library, .space {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 0 40px;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        padding-left: 30px;
    }
    @media screen and (max-width: 768px) {
        padding: 20px 0 0 30px;
    }

    .title {
        color: $white;
        font-size: 24px;

        @media screen and (max-width: 1024px) {
            font-size: 20px;
        }
        @media screen and (max-width: 425px) {
            margin-bottom: 5px;
        }
    }
    .cover {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 640px) {
            width: 100%;
        }

        img {
            width: 80%;
            border-top-left-radius: 15px;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            @media screen and (max-width: 768px) {
                width: 90%;
            }
            @media screen and (max-width: 640px) {
                width: 50%;
            }
            @media screen and (max-width: 425px) {
                width: 75%;
            }
        }
    }
}
.library {
    background-image: url("/bgBento/bgLibrary.webp");
    grid-area: b;
}
.space {
    background-image: url("/bgBento/bgSpace.webp");
    grid-area: d;
}