.library, .space {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
        font-size: 24px;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
        @media screen and (max-width: 425px) {
            margin-bottom: 5px;
        }
    }
    .subtitle {
        color: $grayColor;
        font-size: 16px;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
}
.library {
    background-image: url("/bgBento/bgLibrary.webp");
    padding: 30px 0 0 50px;
    overflow: hidden;
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        padding: 20px 0 0 30px;
    }
    @media screen and (max-width: 425px) {
        padding: 20px 30px;
    }

    .cover {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 640px) {
            width: 100%;
        }

        img {
            max-height: 200px;
            border-radius: 15px;

            @media screen and (max-width: 640px) {
                width: 100%;
                object-fit: cover;
                object-position: center 0;
            }
        }
    }
}
.space {
    background-image: url("/bgBento/bgSpace.webp");
    padding: 30px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    grid-area: d;

    @media screen and (max-width: 768px) {
        padding: 20px 0 0 30px;
    }

    .cover {
        height: 75%;
        display: flex;
        justify-content: flex-end;

        img {
            height: 100%;
            border-top-left-radius: 20px;
        }
    }
}