.presentation, .adventure {
    background-image: url("/bgBento/bgBento.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 40px;

    .subtitle {
        font-size: 16px;
    }
    .text-bento {
        color: white;
        font-family: $bodyFont;
    }
}
.presentation {
    grid-area: a;

    .titles {
        margin-bottom: 30px;

        .title {
            color: white;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            font-family: $titleFont;
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 30px;
            padding-bottom: 30px;
            opacity: 0.95;
    
            .bolder {
                font-weight: 500;
                opacity: 1;
            }
        }
        .subtitle {
            color: white;
        }
    }
    .text-bento {
        font-size: 24px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: "";
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $grayColor;
            display: inline-block;
        }

        .span-bento {
            color: $grayColor;
        }
    }
}
.adventure {
    grid-area: c;

    .titles {
        margin-bottom: 40px;

        .title {
            font-size: 24px;
            margin-bottom: 5px;
        }
        .subtitle {
            color: $grayColor;
        }
    }
    .adventure-content {
        @include center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;

            i {
                display: none;
            }
        }

        .text-bento {
            font-size: 20px;
            margin-bottom: 0;
        }
        i {
            color: white;
        }
    }
}
