.instagram, .twitter, .github {
    background-color: $bgBento;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        padding: 20px 30px;
    }

    .profil-container {
        @include between;

        .profil {
            @include center;
            gap: 10px;

            .avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;

                @media screen and (max-width: 1024px) {
                    width: 50px;
                    height: 50px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .name {
                color: $white;

                .title-profil {
                    font-size: 16px;
                }
                .title-pseudo {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 12px;
                }
            }
        }
        .fa-brands {
            color: $white;
            font-size: 24px;

            @media screen and (max-width: 1024px) {
                display: none;
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }
    .redirect-social {
        background: transparent;
        border: 1px solid $grayColor;
        width: 100%;
        border-radius: 100px;
        outline: none;
        transition: background 0.2s ease-in-out;

        @media screen and (max-width: 640px) {
            width: 50%;
            margin: 0 auto;
        }
        @media screen and (max-width: 425px) {
            width: 100%;
        }

        a {
            color: $white;
            font-family: $bodyFont;
            letter-spacing: 1px;
            width: 100%;
            display: block;
            padding: 10px 0;
            transition: color 0.2s ease-in-out;
        }

        &:hover {
            background:$white;

            a {
                color: $black;
            }
        }
    }
}
.instagram {
    grid-area: e;
    
    .social-content {
        @include center;

        .instagram-preview {
            width: 100%;
            max-height: 120px;
            object-fit: cover;
            object-position: 50% 10%;
            border-radius: 10px;
        }
    }
}
.twitter {
    grid-area: f;

    .social-content {
        .tweet {
            color: $white;
            font-family: $bodyFont;
            font-size: 16px;
            line-height: 25px;

            @media screen and (max-width: 640px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}
.github {
    grid-area: g;

    .social-content {
        @include center;

        .github-preview {
            border-radius: 15px;
            width: 100%;
            min-height: 350px;
            object-fit: cover;
            object-position: 0;

            @media screen and (max-width: 640px) {
                max-height: 400px;
                object-position: center 0;
            }
        }
    }
}