.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: $white;
    font-family: $bodyFont;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    @include center;
    background: #232323;
    box-shadow: inset 5px 5px 15px #0e0e0e,
                inset -5px -5px 15px #383838;
}