.logo {
    height: 80px;
    width: 80px;
    @include center;

    svg {
        width: 100%;
        color: var(--titleColor);
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}