.nav-bar {
    border: 1px solid rgb(35, 35, 35);
    border-radius: 80px;
    
    .nav-list {
        @include center;
        padding: 6px;

        .nav-li {
            padding: 12px 0;

            a {
                border-radius: 80px;
                font-family: $bodyFont;
                padding: 12px 55px;
                transition: 0.5s 0.1s ease-in-out;
            }
            .nav-link {
                color: rgb(179, 179, 179);
            }
            .active-nav-link {
                background: rgb(35, 35, 35);
                color: white;
            }
        }
    }
}