.social-list {
    @include center;
    gap: 25px;

    .fa-brands {
        color: $grayColor;
        font-size: 24px;
        transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
            color: $white;
            transform: scale(1.2);
        }
    }
}