.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        width: 65%;
    }
    
    @media screen and (max-width: 640px) {
        width: 90%;
    }

    @media screen and (max-width: 425px) {
        width: 100%;
    }

    .project-bento {
        height: 250px;
        perspective: 2000px;
        perspective-origin: top;
        position: relative;
        cursor: pointer;

        &:hover {
            .card {
                transform: rotateY(180deg);
            }
            &:nth-child(even) {
                .card {
                    transform: rotateY(-180deg);
               }
            }
        }

        .card {
            border-radius: 30px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            position: relative;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.65s cubic-bezier(0.86,0,0.07,1);

            .front-card, .back-card {
                border-radius: 30px;
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
            }
            .front-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: $bgBento;
                padding: 20px 30px 25px 30px;
    
                .title-project {
                    @include between;
                }
                .description-project {
                    .description {
                        color: $white;
                        font-family: $bodyFont;
                        font-size: 16px;
                        line-height: 23px;
                    }
                }
                .stack-project {
                    @include center;
                    flex-wrap: wrap;
                    gap: 10px 15px;
        
                    .techno-project {
                        background: transparent;
                        border-radius: 5px;
                        border: 1px solid $white;
                        color: $white;
                        font-family: $bodyFont;
                        font-size: 12px;
                        font-weight: 600;
                        padding: 4px 10px;
                        transition: 0.2s ease-in-out;
                    }
                }
            }
            .back-card {
                transform: rotateY(180deg);

                .bento-cover {
                    border-radius: 30px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}