.main-projects {
    margin-bottom: 100px;
    padding: 0 100px;

    h1 {
        color: $white;
        font-family: $titleFont;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 25px;
        text-align: center;
    }
}