.main-projects {
    margin-bottom: 80px;
    
    h1 {
        color: $white;
        font-family: $titleFont;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 25px;
        text-align: center;

        @media screen and (max-width: 425px) {
            font-size: 24px;
        }
    }
}