.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 90%;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .carousel {
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
        margin-bottom: 25px;
        overflow: visible;
        
        .control-dots {
            position: absolute;
            bottom: -30px;
            margin: 0;
            
            .dot {
                background: var(--titleColor);
                opacity: 0.4;
                width: 10px;
                height: 10px;

                &:hover, &.selected {
                    opacity: 1;
                }
            }
        }
        .carrousel-img {
            border-radius: 8px;
        }
    }
    .text-container {
        .project-text {
            font-size: 20px;
            line-height: 30px;
            transition: color 0.2s ease-in-out;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
            @media screen and (max-width: 425px) {
                font-size: 16px;
                line-height: 26px;
            }
        }
        .presentation {
            color: var(--titleColor);
            font-family: $titleFont;
            font-weight: 500;
            max-width: 800px;
            margin: 0 auto 25px auto;
            text-align: center;
            transition: color 0.2s ease-in-out;
        }
        .objectif {
            color: var(--textColor);
            font-family: $bodyFont;
            transition: color 0.2s ease-in-out;

            span {
                color: var(--titleColor);
                font-weight: 600;
                transition: color 0.2s ease-in-out;
            }
        }
    }
    .stack-project {
        @include center;
        flex-wrap: wrap;
        gap: 8px 15px;

        .techno-project {
            background: transparent;
            border: 1px solid var(--textColor);
            border-radius: 5px;
            color: var(--textColor);
            font-family: $bodyFont;
            font-size: 16px;
            font-weight: 600;
            padding: 5px 15px;
            transition: border 0.2s ease-in-out, 0.2s ease-in-out;
        }
    }
    .link-container {
        @include center;
        gap: 20px;

        .project-link {
            background: transparent;
            border: 1px solid var(--titleColor);
            border-radius: 5px;
            color: var(--titleColor);
            font-family: $bodyFont;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 10px;
            transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

            &:hover {
                background: var(--titleColor);
                color: var(--bentoBg);
            }
        }
    }
    .arrow-back {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 30px;
        border: 1px solid var(--textColor);
        border-radius: 50%;
        @include center;
        padding: 10px;
        cursor: pointer;
        transition: border 0.2s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
            border-color: var(--titleColor);
            transform: scale(1.2);

            .fa-solid {
                color: var(--titleColor);
            }
        }

        @media screen and (max-width: 640px) {
            top: 100%;
        }

        .fa-solid {
            color: var(--textColor);
            font-size: 16px;
            transition: color 0.2s ease-in-out;
        }
    }
}