@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$titleFont: "Poppins", sans-serif;
$bodyFont: "Lato", sans-serif;
$white: rgba(255, 255, 255, 0.95);
$black: rgba(0, 0, 0, 0.95);
$grayColor: rgb(179, 179, 179);

:root {
    --bodyBg: #121113;
    --bentoBg: #232225;
    --btnBg: #6F6D78;
    --btnBgHover: #7C7A85;
    --textColor: #B5B2BC;
    --titleColor: #EEEEF0;
    --navBg: #3C393F;
}
[data-theme="light"] {
    --bodyBg: #FDFCFD;
    --bentoBg: #F2EFF3;
    --btnBg: #8E8C99;
    --btnBgHover: #84828E;
    --textColor: #65636D;
    --titleColor: #211F26;
    --navBg: #DBD8E0;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    background-color: var(--bodyBg);
    height: 100svh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 50px 0 50px;
    transition: background 0.2s ease-in-out;

    @media screen and (max-width: 768px) {
        padding: 20px 30px 0 30px;
    }
    @media screen and (max-width: 425px) {
        padding: 15px 10px 0 10px;
    }
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.bento-item {
    border-radius: 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    transition: background 0.2s ease-in-out;
}
h2, h3 {
    font-family: $titleFont;
    font-weight: 400;
}
.subtitle {
    color: $grayColor;
    font-size: 16px;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: black;
    transform-origin: bottom;
    z-index: 2500;
}
.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: black;
    transform-origin: top;
    z-index: 2500;
}
.redirection {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $white;
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
    color: $white;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--btnBgHover);
    border-radius: 5px;
}